main {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 500px;
  border: 1px solid white;
  border-radius: 20px;
  background-color: #5050506c;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: grid;
  justify-content: center;
}

main h1 {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

