h1,
h2,
h3,
h4 {
  background-color: #e0f7fa;
  padding: 10px;
  border-radius: 25px;
  text-align: center;
}

p {
  background-color: #fff3e0;
  padding: 15px;
  border-radius: 25px;
}
h1,
h2,
h3,
h4,
p {
  color: #333;
}
body{
  background-color: #a4c69f;
}